.panel-custom {
  background-color: #D48E09;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.jumbotron {
  background-color: #B12D15;
  color: #fff;
}

.jumbotron h1 {
  font-size: 48px;
}

.codebox {
  background-color: #B6CFD1;
  color: #006600;
}

.examplebox {
  background-color: ##d0e0e1;
}

.nostyle {
  text-decoration: none;
  color: #FFF;
}

.nostyle:hover {
  text-decoration: none;
  color: #FFF;
}

a {
    color: #740F1A;
}

li {
  margin: 0.5em 0;
}

.sidebar-wrapper {
  position: absolute;
}

.examplejumbo {
  background-color: #C0BD85;
  color: #000;
}
.btn {
  margin-top: 20px;
}

#userInfo {
  display:none;
}
